[2015-03-10 12:08] ghost opened #1 "Import issues from spreadsheet"
The outstanding issues in Paddy's todo-list should be entered here!

[2015-03-10 12:41] padski opened #2 "Second schroff rack: add 3 power boards"

[2015-03-10 12:48] padski commented on #2
in progress, awaiting 317s

[2015-03-10 12:49] padski opened #3 "Photon assembly"
in progress

[2015-03-10 12:50] padski opened #4 "Attach missing covers to blinds with velcro"
Velcro arrived

[2015-03-10 12:55] padski opened #5 "Put up shelves in workshop"
In progress, would like high ish strong shelf above bench

[2015-03-10 12:55] padski opened #6 "Install network camera for front door"

[2015-03-10 12:55] padski opened #7 "Build Vactrol Mixer"
In progress

[2015-03-10 12:56] padski opened #8 "Build batch of Stoicheia modules"
20 done, 16 awaiting front panels

[2015-03-10 12:56] padski commented on #1
Done

[2015-03-10 12:56] #1 closed, assigned to padski

[2015-03-10 16:28] ghost opened #9 "Build module tester"
Assembly as per http://mutable-instruments.net/module_tester

[2015-03-12 13:07] pingdynasty commented on #2
done.

[2015-03-12 13:21] pingdynasty opened #10 "Add pull down resistors to linear mixer prototypes"

[2015-03-12 13:21] pingdynasty opened #11 "Add 3pin / 5pin pico connectors to vactrol mixer prototype"
as per previous prototype

[2015-03-12 16:35] #11 closed, assigned to nobody

[2015-03-16 15:36] pingdynasty opened #12 "Assemble the last 3 bus boards"

[2015-03-16 15:36] padski commented on #10
Done

[2015-03-16 15:36] #10 closed, assigned to nobody

[2015-03-16 15:36] padski commented on #4
Done

[2015-03-16 15:36] #4 closed, assigned to nobody

[2015-03-17 12:50] #2 closed, assigned to padski

[2015-03-20 15:57] pingdynasty opened #13 "Build and test transformer board"
Build and test, one at a time (to verify the design) two of the Transformer Rev01 boards arrived from Seeed today, 20/3.

There should be 2x 20W and 2x10W transformers to use for this, the larger one for the positive rail.

[2015-03-20 16:00] pingdynasty opened #14 "Build and test midi io board"
Build two MIDI IO Rev01 with sockets for optocoupler
Populate the FFC connector and DIN connectors on one of them only

[2015-03-23 11:12] pingdynasty opened #15 "Build OpenSound Rev02"
x1

[2015-03-23 18:41] pingdynasty opened #16 "Build PowerBoard Rev02"
x20 or nearest number that we have parts for

[2015-03-25 12:05] padski commented on #15
Done

[2015-03-25 12:05] #15 closed, assigned to padski

[2015-03-25 14:57] pingdynasty opened #17 "Close completed issues"
e.g. #2 #5 #9 #12 #13

[2015-03-25 15:22] padski commented on #9
Needs testing

[2015-03-25 15:22] padski commented on #13
Done

[2015-03-25 15:22] #13 closed, assigned to padski

[2015-03-25 15:23] padski commented on #12
Done

[2015-03-25 15:23] #12 closed, assigned to padski

[2015-03-25 17:20] padski commented on #16
2 done, awaiting stencil.

[2015-03-25 17:22] padski opened #18 "Stencil for Power Module rev02"
#16

[2015-03-25 17:23] padski commented on #9
Done

[2015-03-25 17:23] #9 closed, assigned to padski

[2015-03-25 17:46] pingdynasty opened #19 "Prepare Analogue Haven shipment"
10x Stoicheia
20x Chronos

[2015-03-25 18:25] pingdynasty commented on #18
ordered from PCB train

[2015-03-26 14:29] pingdynasty opened #20 "Build Curb ultrasonic shield"
Need a shield to connect a Spark Photon to two ultrasonic sensors.
Sensor pin out
- vcc
- trig
- echo
- gnd

Make two 4pin headers
header one:
- vcc <-> VIN
- trig 1 <-> D1
- echo 1 <-> D0
- gnd <-> GND

header two:
- vcc <-> VIN
- trig 1 <-> A5
- echo 1 <-> A4
- gnd <-> GND

plus 2x 4pin 2.54mm female-female cables

[2015-03-26 14:31] pingdynasty commented on #20
![image](https://cloud.githubusercontent.com/assets/648870/6848385/b91ed150-d3c4-11e4-8623-795f8b80902d.png)

[2015-03-26 14:33] pingdynasty commented on #20
The shield should have female headers connecting the photon, and male right-angle headers connecting the sensor cables.

[2015-03-26 14:42] pingdynasty commented on #20
![image](https://cloud.githubusercontent.com/assets/648870/6848640/52388aec-d3c6-11e4-9a84-37ba73f1f272.png)

[2015-03-27 15:12] #20 closed, assigned to padski

[2015-03-27 15:19] padski commented on #19
Done

[2015-03-27 15:19] #19 closed, assigned to nobody

[2015-03-30 14:59] padski commented on #18
Arrived

[2015-03-30 14:59] #18 closed, assigned to nobody

[2015-03-31 13:44] padski commented on #8
Complete

[2015-03-31 13:44] #8 closed, assigned to nobody

[2015-03-31 14:02] pingdynasty opened #21 "Flash ATMega168 chips"
We need flashed chips to send to Thonk:
50x Stoicheia
25x Logoi
25x Klasmata
(in labelled tubes)

Plus some spares to send to Alex4 for repairs: 2 each (individually labelled).

The programming ZIF socket has a header for an FTDI cable, to allow two-in-one programming.

[2015-03-31 14:07] pingdynasty opened #22 "Create colour coded placement sheets"
Electronic versions, for Stoicheia, Logoi and Klasmata.

[2015-03-31 14:09] pingdynasty commented on #22
Should fit on one sheet with a colour-coded BOM, based on e.g.
https://docs.google.com/spreadsheets/d/1sq-qwEy1HwATB8ggEBUWu5q8Kma4ZveZFwoUYGh30KY/edit#gid=0

[2015-03-31 17:42] pingdynasty opened #23 "Prepare shipment for Thonk"
Kits for
- 50 Stoicheia
- 25 Logoi
- 25 Klasmata

for each:
- programmed MCU
- panel
- pcb (kit version)

Kit pcb's all have the thonkiconn jack. Awaiting delivery of Klasmata and Logoi pcb's.

[2015-04-01 12:25] pingdynasty opened #24 "Assemble MidiPal"
Missing replacement ATMEGA328P-AU   , ordered 1/4.

Build instructions: http://mutable-instruments.net/midipal/build

[2015-04-01 18:21] pingdynasty opened #25 "Build and test rectifier circuit"
Build the dual half-wave rectifier circuit on vero or breadboard to test it works before ordering pcb's.

Circuit is in `PowerBoard/schematics/RectifierBoard.sch`

Use the 2 2200uF caps that we have and test with an active bus board (PowerBoard). Should be able to draw at least 250mA on each 15v rail without loosing regulation.

[2015-04-01 18:44] pingdynasty commented on #25
ie test with 48R load on +/-12v

[2015-04-02 02:33] ghost opened #26 "Make 5v mini adaptors for OWL Modular"
change to TO252 if possible

[2015-04-02 11:24] padski commented on #21
Stocheias & Logois & 6 extra done, awaiting more chips

[2015-04-02 16:21] padski commented on #25
Done

[2015-04-02 16:22] padski commented on #22
Done, saved in respective /drawings/ folder

[2015-04-02 16:22] #22 closed, assigned to nobody

[2015-04-02 17:04] padski commented on #21
Done

[2015-04-02 17:04] #21 closed, assigned to padski

[2015-04-02 17:05] padski commented on #23
MCUs Done

[2015-04-02 17:48] pingdynasty opened #27 "Lasercut blank panels"
4hp and 6hp blank panels with inverted logos are in `RebelTechnology/PowerBoards/drawings`.
Cut 1 or 2 each on orange frosted perpex.

[2015-04-02 17:50] pingdynasty commented on #26
- order pcb's
- order parts
- order stencil?
- assemble

[2015-04-02 18:05] pingdynasty opened #28 "Lasercut panels for Schroff racks"
...awaiting frosted white 3mm perspex.

At the same time, cut some blank panels (pending outcome of #27).

[2015-04-02 18:13] pingdynasty commented on #25
The LM317 datasheet [1] shows an improved ripple response when adding a 10uF cap from ADJ to gnd, ie bypass the reference voltage (C2 in Fig 13).

Test once RectifierBoard arrives.

[1] http://www.ti.com/lit/ds/symlink/lm317.pdf

[2015-04-02 20:31] pingdynasty commented on #25
I've made and ordered a PTH version of PowerBoard, PowerKit, with C2 and rectifier onboard.

[2015-04-07 15:20] pingdynasty opened #29 "Build and test BalancedInput/Output Rev01"
Eagle files are in `RebelTechnology/PowerBoard/schematics/BalancedInputOutput.sch`

Build with sockets for chips : THAT1200 and THAT1646.
Use 220uF in C6 (or temporarily use 100uF if not available).

Test before populating neutrik sockets.

[2015-04-07 15:25] pingdynasty commented on #29
Populate central 3-pin male header and 16-pin power header (not 2-pins)

[2015-04-07 15:39] pingdynasty commented on #29
Leave out C1, C2, C3, R3. Ceramic film for 100n. C9 and C10 should be wima or similar if we have them in 10uF.

To test, connect an audio frequency signal, 1-10vpp, to the `out` pin. Check that balanced output is produced at OUT Tip and Ring.
Connect OUT Tip and Ring to IN Tip and Ring. Check that the same waveform is produced on the `in` pin.
Record the input and output gain factors and threshold

[2015-04-07 15:48] pingdynasty commented on #29
Actually C9 and C10 are supposed to be non-polarized electrolytic, which I don't think we have. Use wire links instead for now.

[2015-04-09 15:27] padski commented on #16
Done, with 8x2 headers

[2015-04-09 15:27] #16 closed, assigned to nobody

[2015-04-09 15:28] padski commented on #3
Done, at least for now....

[2015-04-09 15:28] #3 closed, assigned to nobody

[2015-04-10 12:09] pingdynasty commented on #28
drawings are in RebelTechnology/PowerBoard/drawings

back and top panels: subrack.svg
blanks: blank6hp-inv.svg and blank4hp-inv.svg

If the inverted logos turn out shit, you could cut a couple of blanks with the logo on the front: blank6hp.svg and blank4hp.svg

[2015-04-10 13:15] pingdynasty commented on #28
update: cut 1 each of top / back panel on long sheet of clear perspex, and 1 each of blank 4hp/6hp inverted and non-inverted on frosted perspex, plus any frosted orange blanks.

[2015-04-12 10:36] padski commented on #28
Done

[2015-04-12 10:36] #28 closed, assigned to nobody

[2015-04-12 10:37] padski commented on #27
Done

[2015-04-12 10:37] #27 closed, assigned to padski

[2015-04-13 12:56] padski opened #30 "Assemble laser-cut back panel in subrack"
With dual output balanced input board

[2015-04-13 13:35] pingdynasty commented on #26
DPACK version arrived, 50 boards.
Paddy: build one and test pls!

[2015-04-13 13:37] pingdynasty commented on #23
Stoicheia pcb's arrived today, pls pack all parts into a suitable box.

[2015-04-13 13:43] pingdynasty commented on #25
Boards arrived, ordering big caps

[2015-04-13 15:08] padski commented on #30
Done

[2015-04-13 15:08] #30 closed, assigned to padski

[2015-04-13 15:59] padski commented on #23
Done

[2015-04-13 17:11] padski commented on #26
One built and soak testing

[2015-04-13 17:12] padski commented on #29
Done, measurements sent to mars

[2015-04-13 17:12] #29 closed, assigned to padski

[2015-04-13 17:21] pingdynasty commented on #26
Now for the remaining 49...

[2015-04-14 15:36] pingdynasty opened #31 "Build and test PowerKit PTH"
There's a PowerBoard in PTH version with rectifier circuit.

Build with 4700uF rectifying caps and measure ripple (at +12, -12, +5)
- at 200mA
- at 250mA

and possibly higher if 250mA looks good (ripple less than 10%)

Eagle files are in RebelTechnology/PowerBoard/schematics/PowerKitPTH.sch / .brd

[2015-04-16 11:39] padski commented on #31
Done

[2015-04-16 11:39] #31 closed, assigned to padski

[2015-04-16 11:40] padski commented on #26
Stencil Martin?

[2015-04-16 11:55] padski commented on #25
Done

[2015-04-16 11:55] #25 closed, assigned to padski

[2015-04-16 11:58] pingdynasty opened #32 "Pack PCA order"
- Klasmata 2 ea
- Bit Reactor 1 ea
- OWL Pedal 2 ea

OWLs: load latest 005 firmware and pack with foam pad

[2015-04-16 13:07] pingdynasty opened #33 "Assemble wood panel 9u rack"
The white plywood rack needs:
- 2 rows of 3 green PowerBoards
- 1 top row with transformer and 2 green PowerBoards

and eventually a DualBalancedOutput with hand-wired connections (maybe I'll get different jacks for this)

[2015-04-16 13:34] padski commented on #32
Done

[2015-04-16 13:34] #32 closed, assigned to padski

[2015-04-30 19:23] pingdynasty opened #34 "Build Klasmata and Logoi to test new PCBs"
Build 10 each (or so) of the new pcb's (new jacks) to see if there are issues.
Test boards first for obvious shorts:
- -12 / gnd
- +12 / gnd
- +5 / gnd
- +5 / +12
- toggle switches / gnd

seems sensible?

[2015-04-30 19:26] padski commented on #34
Sounds good yes

[2015-05-06 12:37] pingdynasty opened #35 "Prepare for workshops"
20x Stoicheia
10x Logoi
10x Klasmata
5x PowerKitPTH

pcb's need to be tested and parts collected.

[2015-05-06 12:39] pingdynasty commented on #35
also need:
- power cables
- mounting screws and washers
- bags to take modules home in

[2015-05-06 12:47] pingdynasty commented on #35
- soldering iron (antex)
- wire cutters
- solder wire
- avr programmer
- ftdi cable

[2015-05-12 12:24] padski commented on #35
Done

[2015-05-12 12:24] #35 closed, assigned to padski

[2015-05-13 19:22] pingdynasty commented on #33
done

[2015-05-13 19:22] #33 closed, assigned to padski

[2015-05-13 19:23] pingdynasty commented on #26
stencil arrived, awaiting oven?

[2015-05-14 17:25] padski commented on #34
Done, all good :)

[2015-05-14 17:25] #34 closed, assigned to padski

[2015-05-14 17:26] padski commented on #26
Oven arrived!

[2015-05-18 09:42] pingdynasty opened #36 "Ship repairs and modules to Alex4"
To pack,

Stock:
- 10x Stoicheia
- 5x Logoi

Repairs:
- 1x Klasmata
- 2x Stoicheia
- 6x replacement chips

[2015-05-19 11:52] padski commented on #36
Done

[2015-05-21 13:04] #7 closed, assigned to nobody

[2015-05-21 13:04] #36 closed, assigned to nobody

[2015-05-21 13:05] pingdynasty opened #37 "Build Befaco Slope Generator"

[2015-05-21 13:08] pingdynasty opened #38 "Build string resonator prototype"
String or strings with pickup and resonator, prototype with input and amp for resonator, amp and output for pickup.
Needs bridge and nuts.

[2015-05-21 13:12] pingdynasty commented on #38
resonator / sustainer:
- e-bow
- sustainiac

links:
http://www.sustainiac.com/st-pro.htm
http://diy-fever.com/misc/diy-sustainer/
http://www.stephenhobley.com/blog/2011/11/23/infringing-patents-probably/
http://www.fernandesguitars.com/sustainer/sustainer.html

[2015-05-21 14:12] padski commented on #26
8 completed, 46 awaiting 8x2 fem headers

[2015-05-21 14:41] pingdynasty commented on #26
Pls find suitable parts from Toby Electronics, Farnell, Rapid, RS

[2015-05-21 15:49] pingdynasty opened #39 "Prototype headphone amplifier"
Should also incorporate a 3-in 1-out mono mixer and run off +/-15v supply.

here's a circuit that uses NJM2073, which doesn't seem universally available
http://www.befaco.org/en/output-module-ii/

here's another, plain op amps
http://tangentsoft.net/audio/cmoy/

amps:
LM4881M (5v vdd stereo 200mW)
MAX4410
BH3547F
TPA6139
TPA6138

[2015-05-21 19:16] pingdynasty opened #40 "Prototype filter with LTC1563"
LTC1563-2 and LTC1563-3 implement a monolithic 4-pole low pass filter controlled by a single resistor. Fc adjustable from 256Hz at 10k to 256kHz at 10M.

Make a prototype to evaluate filter performance for variable and fixed Fc.

http://www.linear.com/product/LTC1563

[2015-06-02 17:01] padski commented on #37
1 jack socket missing

[2015-06-16 13:17] pingdynasty commented on #23
Thonk have returned all but 11 Stoicheia PCBs.
Replacement PCBs have arrived from Seeed.
Prepare a parcel with the new PCBs to ship back to Thonk on the 25/7.

[2015-06-16 14:15] pingdynasty opened #41 "Chase up printer issues with vendor"
order details emailed.

[2015-06-16 14:37] pingdynasty opened #42 "Send Klasmata MCU to Luke Pankau"
Send a pre-programmed Klasmata MCU in small jiffy bag to Australia and tell me how much postage cost so I can send him a payment request. Address below.

lukepankau2002@msn.com

Hi Martin,

The red stripe of the power connector is facing downwards in the same orientation as all my other modules.

knobs are full ccw, triggers are being plugged into the bottom jack but no led action.

I'm certain I

[2015-06-16 15:12] padski commented on #41
Supplier emailed with examples....

[2015-06-16 15:24] padski commented on #41
Sorted, it was toner on funny bar thingies...

[2015-06-16 15:24] #41 closed, assigned to padski

[2015-06-16 15:56] pingdynasty opened #43 "Build Touchkeys kit"
on Novation Impulse 61 keyboard, top octaves.
Will get remaining 3 octaves of parts from Andrew at a future date.

[2015-06-16 16:14] padski commented on #23
Done, packaged 25 Logoi, 25 Klasmata, 40 Stoicheia

[2015-06-16 16:14] #23 closed, assigned to padski

[2015-06-16 17:09] padski commented on #42
Postage cost: £3.30

[2015-06-16 17:21] padski commented on #43
Hello

[2015-06-17 15:32] padski commented on #42
Done

[2015-06-17 15:32] #42 closed, assigned to padski

[2015-06-18 13:04] pingdynasty commented on #39
I've created a schematic in RebelTechnology/MiniMixer/schematics/MiniMixer.sch

[2015-06-18 13:21] pingdynasty commented on #39
Construct with right-angle components on vero board.
Total board length <= 205mm.
Add DC jack 2.1mm (will be connected by cables to power board)
Component order, left to right:
DC, stereo out, pot, pot, pot, pot, jack, jack, jack, jack

[2015-06-18 13:21] padski commented on #43
Done as required, lid left open, screws in bag

[2015-06-18 13:25] pingdynasty commented on #39
Pot spacing: 19.05mm 0.75'
Jack spacing: 12.7mm 0.5'

[2015-06-18 14:08] pingdynasty commented on #39
![image](https://cloud.githubusercontent.com/assets/648870/8232601/ed96d126-15c8-11e5-84d2-81ea77c686cf.png)

[2015-06-23 14:30] pingdynasty opened #44 "Prepare shipment for PCA"
OWL Pedal 3 ea.
Chronos 2 ea.

[2015-06-24 17:43] pingdynasty opened #45 "Evaluate Trello"
Install and try it out: https://trello.com/

[2015-06-25 08:20] padski commented on #37
Socket on its way from Befaco

[2015-06-25 09:44] pingdynasty commented on #14
Prepare another MIDI IO board for touchkeys build

[2015-06-25 14:50] padski commented on #14
done but requires chip 6N137

[2015-06-25 14:53] padski commented on #44
Done, left open

[2015-06-25 14:53] #44 closed, assigned to padski

[2015-06-25 14:53] padski commented on #24
Done

[2015-06-25 14:53] #24 closed, assigned to padski

[2015-06-29 12:21] padski opened #46 "Assemble Owl Modulars"

[2015-06-29 15:41] pingdynasty opened #47 "Update placement diagrams for latest board versions"
Klasmata, Logoi and Stoicheia have new revision pcb's.
Update the placement diagrams with the new layouts, same text as before.
Change pad colour (in Eagle) to white or something to avoid it being same colour as resistors.

[2015-06-30 16:43] padski commented on #46
32 complete with bootloader, awaiting firmware, testing, minipowerboard, cable
9 complete with bootloader, awaiting button cap, firmware, testing, minipowerboard, cable

[2015-07-01 13:07] padski commented on #47
Done. Previous revisions renamed to reflect Revision

[2015-07-01 13:07] #47 closed, assigned to padski

[2015-07-01 13:34] padski commented on #43
Keyboard wiring etc.: Fit Touchkeys usb socket in rear panel. Fit MidiIO board in rear panel. Fit 2 x DPCO switches in rear panel. Wire existing keyboard usb power to touchkeys usb. Wire MidiIO TX/RX to keyboard TX/RX via switches.

[2015-07-01 19:41] pingdynasty opened #48 "Make a power supply for Spirit Folio mixer"
Use the Behringer AC adapter, and change either cable or connector end, or both.

[2015-07-06 13:31] pingdynasty opened #49 "Organize furniture collection"
9am Moorgate, Coleman st.

[2015-07-06 14:31] padski commented on #49
Things to collect:
4 x 24" shelving + 20 shelves
6 x SBFI desks, 1500w x 870d x 710h
6 x SBFI desk pedestal, 3 drawer, 410w 560d x 590h
5 x Voko tambour unit 800w x 2100h x 440d grey / blue
6 x Chair, Girsberger 'Folio', task, 5 wheel, black, coat hanger on back (offer £20 each)
1 x Desk, height adjustable, grey (offer £30)

[2015-07-06 14:54] pingdynasty commented on #49
to do:
- hire / borrow van
- rustle up volunteers
- put up do not park sign in driveway
- clear space in office to put the loot in
- bring tools to disassemble shelves

[2015-07-06 15:17] padski commented on #49
Contact is Mike Turpin: 07778 445198
I'll require details of attendees, on shared Google Sheet.
Park in Coleman Street, as near as possible to the arched entry to Coleman Street Buildings Passage, just past Pret-a.Manger. Go to the post room entrance in the passageway and call Mike on his mobile, 07778 445198, and he will come down and let you in.

[2015-07-06 15:41] padski commented on #48
Awaiting connector from Rapid

[2015-07-07 13:01] padski commented on #43
Awaiting hardware, ordered today 7-7-15

[2015-07-10 12:51] ghost commented on #48
http://www.blue-room.org.uk/index.php?showtopic=51571

On one, the PSU is marked up 19V - 0 - 19V AC 400mA
With no load this meters at about 23.4V - 0 - 23.4V AC

the other, older\* one says 17.1V - 0 - 17.1V AC 400mA
With no load this meters at about 21.3V - 0 - 21.3V AC

[2015-07-10 12:51] ghost commented on #48
the centre pin is the common (0V)

[2015-07-10 14:05] padski commented on #48
Done

[2015-07-10 14:05] #48 closed, assigned to padski

[2015-07-10 14:06] ghost commented on #49
[anyvan-job-sheet-2617019.pdf](https://github.com/RebelTechnology/FortRebel/files/645/anyvan-job-sheet-2617019.pdf)

[2015-07-10 14:07] ghost commented on #49
Collection address is assumed to be
74 Coleman Street
EC2R 5BN

[2015-07-10 14:08] padski opened #50 "Make shelf for 19" rack frame"

[2015-07-12 18:16] padski commented on #37
Susanna has the socket......

[2015-07-13 12:14] padski commented on #49
Done

[2015-07-13 12:14] #49 closed, assigned to nobody

[2015-07-14 12:36] padski commented on #43
Finished and boxed up

[2015-07-14 13:02] padski commented on #26
Toby part added to shopping list

[2015-07-21 07:41] padski commented on #5
Wickes don't have anything suitable.
Homebase do: for scope shelf - http://www.homebase.co.uk/en/homebaseuk/furniture-board---white---1830-x-457-x-15mm-330097
For shallower normal shelf - http://www.homebase.co.uk/en/homebaseuk/furniture-board---white---1830-x-229-x-15mm-329989

[2015-07-21 14:40] pingdynasty opened #51 "Ship to PCA"
3x OWL Pedal
8x OWL Modular

[Rebel Technology-PO-002123.pdf](https://github.com/RebelTechnology/FortRebel/files/790/Rebel.Technology-PO-002123.pdf)

[2015-07-21 14:40] pingdynasty commented on #51
todo: finalise and flash firmware

[2015-07-21 14:41] pingdynasty opened #52 "Ship to Analogue Haven"
15x OWL Modular

todo: finalise and flash firmware, raise invoice.

don't ship until money received!

[2015-07-21 17:09] padski commented on #26
Done, glitch, no parts required..

[2015-07-21 17:09] #26 closed, assigned to pingdynasty

[2015-07-31 16:34] pingdynasty opened #53 "Ship OWL Modular to websales"
David Ellis
davide37@live.co.uk £326.00

Gary Hall
garyhall771@gmail.com   £337.00

Robert Kylberg
rkylberg@gmail.com  £334.00

James Diomede
james@themusicologygroup.com    £334.00

[2015-08-01 11:51] pingdynasty commented on #53
done

[2015-08-01 11:51] #53 closed, assigned to nobody

[2015-08-03 16:27] #51 closed, assigned to pingdynasty

[2015-08-14 08:54] #45 closed, assigned to pingdynasty

[2015-08-14 08:55] enricobertelli opened #54 "Publish Video"
Create account on YouTube and decide tag-list

[2015-08-14 09:01] enricobertelli commented on #54
rebeltechmodules@gmail.com

[2015-08-14 09:05] pingdynasty opened #55 "Order t-shirts"
designs are here:
https://drive.google.com/file/d/0B8Z0FXNhsXy0X3ViTmxJZkRJcG8/view?usp=sharing

[2015-08-14 09:06] pingdynasty opened #56 "Design and print flyers"
Product flyer / flyers to take to Tilburg

[2015-08-14 09:09] pingdynasty opened #57 "Create product pricelist"
Product pricelist in GBP, EUR and USD, with Wholesale, MSRP and MAP prices.

[2015-08-14 09:09] pingdynasty opened #58 "Workshop program"
Put together a workshop program for Tilburg and Barcelona, with kits and prices.

[2015-08-14 09:14] enricobertelli opened #59 "Google+ Setup"
Please send Pic for logo (banner style and thumbnail).
Short motto (50 characters)

[2015-08-14 09:16] pingdynasty commented on #59
Logo in SVG
https://drive.google.com/file/d/0BzlB8MFUox37Z1NLLWRrZHJCTDg/view?usp=sharing

[2015-08-14 09:17] pingdynasty commented on #59
This is the quirp I wrote for the Barcelona meeting:
Rebel Technology is a tech collective based in London that has been creating innovative music electronics since 2009. They are the makers of several popular and unique Eurorack modules including Stoicheia: the Euclidean sequencer, Bit Reactor: a low-fi bit crusher and downsampler, and Chronos: tap tempo and LFO. Rebel Technology also ran the suc

[2015-08-14 09:20] enricobertelli commented on #59
[code]

[2015-08-14 09:34] enricobertelli commented on #59
[code]

This is the script for the Hoxton OWL

[2015-08-14 09:39] pingdynasty commented on #59
https://github.com/pingdynasty/OwlServer/issues/84

[2015-08-14 09:48] pingdynasty opened #60 "Update rebeltech website"
Front page should include latest news, product photos, and twitter feed.

[2015-08-14 09:51] pingdynasty commented on #57
https://docs.google.com/spreadsheets/d/19JRulJUycTN1MCA6CrsY2IPtmpwLptetzyxiAIwt2aE/edit#gid=0

should be recalculated for new EUR rates

[2015-08-14 10:27] enricobertelli commented on #59
Google+ is now alive and kicking. When you have time, you should add people to the circles and start posting some stuff there.
Thanks!
Enrico

[2015-08-14 10:44] pingdynasty opened #61 "Upgrade WP and plugins on rebeltech.org"
Upgraded to latest WP, upgraded Jetpack.

Some admin pages aren't loading, e.g. plugins
http://www.rebeltech.org/wp-admin/plugins.php
Error log says

[code]

Also Settings/Sharing not working, clicking on Facebook or Google+ produces this:

[code]

[2015-08-14 11:03] pingdynasty commented on #54
Publicise on Twitter, Facebook, G+
Post on www.rebeltech.org, hoxtonowl.com

[2015-08-14 11:11] #59 closed, assigned to nobody

[2015-08-14 11:26] pingdynasty opened #62 "Follow up on Sonic State podcast"
http://www.sonicstate.com/news/2015/07/30/podcast-sonic-talk-413-mikeme-and-heartbeat/

[2015-08-14 11:37] enricobertelli commented on #54
All accounts up and running, please remember to use the bit.ly customised links every time you use it

[2015-08-14 11:37] #54 closed, assigned to nobody

[2015-08-14 11:49] pingdynasty commented on #61
Plugins page and some other errors fixed by restarting apache (doh), Settings/Sharing still not working.

[2015-08-14 12:36] pingdynasty opened #63 "Promote to CDM and Synthopia"
Previous posts:
http://www.synthtopia.com/content/2015/07/28/owl-modular-programmable-eurorack-module-available-august-1/
http://www.synthtopia.com/content/2015/07/16/owl-open-source-dsp-platform-coming-to-eurorack/
http://createdigitalmusic.com/2013/06/a-stompbox-that-can-become-whatever-you-like-in-crowd-funded-owl/

[2015-08-15 13:44] MartinDesigner commented on #56
Try Createer.com. You can easily design online ads, responsive landing pages and print materials such as flyers, posters, covers, invitations and more. Createer lets you easily share your designs on social media, send them via email, download as HTML, image or PDF. Createer also includes 3,000 predesigned template (look here https://beta2.createer.com/Templates) s and over 250,000 images (illustra

[2015-08-18 11:44] pingdynasty opened #64 "Prepare AES talk"
Bullet points:
Community - online forum, patch library
Open Source Entrepeneurship
web midi, wifi, networked performances
Creating a visual, interactive, customisable virtual interface to a physical device
Designing customisable and extensible physical interfaces
Physical computing

Expanding the capabilities of the audio device with Open Source Software and Hardware.

Open Source Entrepeneurship

[2015-08-18 11:53] pingdynasty commented on #64
Hi Nik,

how about this:
Open Source Entrepeneurship and the OWL,
Building an online community of musicians and coders around an embedded audio device

I'd like to talk about how we're integrating the hardware experience with our online community, using Web Audio to run patches in the browser and Web MIDI to control the device, and how we're extending the hardware with visual, interactive virtual

[2015-08-18 12:00] pingdynasty commented on #64
https://docs.google.com/presentation/d/1fzQXLH2EWy4YpFgqG2YgmetnnebkpveshRSm_FmrDIw/edit#slide=id.p

[2015-08-20 16:03] ghost opened #65 "Build Volty and Triggy prototypes"
The boards have come in for Rev01 Volty and Triggy.
- generate BOM
- check stock and update shopping list
- lasercut panel
- assemble

[2015-08-20 16:04] ghost opened #66 "Build OpenSound Rev04"
Board and stencil have arrived.
- check BOM and stock
- update shopping list
- assemble

[2015-08-20 16:05] ghost commented on #66
Rev04 should be built with yellow/green pushbutton, MultiMec 5GTH9352242, of which we have none.
rs 765-1551 £2.53 @100
farnell 2280490 £2.02 @100

[2015-08-20 16:40] ghost commented on #65
Triggy BOM
https://docs.google.com/spreadsheets/d/1TBH7ma2gQv9r1X_YLNVpI7hiyDvTjrhNQ53lB2UgOTg/edit#gid=0
Volty BOM
https://docs.google.com/spreadsheets/d/1_XelovDfj9XBmlaCoFNG5WUVKQ_dIFiIBnwiVE3TMRI/edit#gid=0

[2015-08-21 11:25] ghost opened #67 "Add workshop webpage"
To the rebeltech website

[2015-08-21 11:28] ghost opened #68 "Add case to products page"
The 3u, 84hp case with power supply should be specced, photographed and added to the products list.
Also add the power kit.

[2015-08-21 11:34] ghost opened #69 "Add Resellers webpage"
add to rebeltech.org

For two purposes:
- for users to find a local reseller
- for resellers to find high-resolution images and product packs

[2015-08-21 12:09] ghost commented on #68
https://pbs.twimg.com/media/CETsqhFWYAAZSMp.png

[2015-08-21 14:16] enricobertelli commented on #60
Sam, the slider is ok, but it doesn't allow any hyperlinks (in free version).
It would be nice to be able to have that feature, as well as embedding videos.
Here's the code, directly from the plugin

[slider id='555' name='Homepage Slider' size='full']

[2015-08-21 14:50] enricobertelli commented on #60
I've uploaded 3 images, called Slider_NAME, these are print screens from an iMovie I've created.

[2015-08-21 16:00] enricobertelli commented on #62
done it last week

[2015-08-21 16:00] #62 closed, assigned to enricobertelli

[2015-08-21 16:01] enricobertelli commented on #63
completed, awaiting CDM's response

[2015-08-21 16:01] #63 closed, assigned to nobody

[2015-08-26 11:37] ghost commented on #65
Parts received.

[2015-09-04 09:55] padski commented on #65
Boards built

[2015-09-04 09:56] padski commented on #37
Done

[2015-09-04 11:34] pingdynasty commented on #66
https://docs.google.com/spreadsheets/d/1iBVxUaHoj8_FYPgzlXVaghacCJn_tD5GXHwYD04l3XQ/edit#gid=1488444124

[2015-09-04 18:20] pingdynasty opened #70 "Lasercut panels"
1 each of
`Volty/drawings/module.svg`
`Triggy/drawings/module.svg`

and with engraving -
`drawings/blank4hp.svg`
`drawings/blank6hp.svg`

check that engraving comes through right and note optimal settings for next time

[2015-09-04 18:23] pingdynasty commented on #70
any scrap perspex will do, pref 2mm

[2015-09-08 19:30] pingdynasty opened #71 "Build Rebel Base subracks"
quantity: 5 complete subracks

todo:
- order transformers from rapid - done
- order racks and inlets from farnell - done
- order perspex - done
- adjust designs: - done
  - reduce width by 0.5mm either side
  - remove balanced in/out holes
- cut panels

ship with:
- 2x power boards
- 100x M2.5 10mm machine screws
- blank panels 4hp and 6hp
- 1x flying busboard?
- IEC cable (EU / UK)

[2015-09-09 04:52] ghost opened #72 "Pack for Tilburg"
# Workshop
- irons
- snippers
- solder wire
- dmm
- components
- panels
- pcbs
- knobs
- test rig
- programmer
# Stall
- demo rig
- demo OWL pedal
- mini case
- speakers
- headphones
- headphone mixer
- tablet and mount
- laptop
- display board/banner
- marker pen
- post it notes
- blank paper sheets
- stock to sell
- t-shirts
- leaflets
# General
- camera
- business cards
- euro power adapters
-

[2015-09-10 12:57] pingdynasty opened #73 "Build transformer boards"
Assemble 5x Transformer boards with 20W +15v and 10W -15v transformers.

[2015-09-10 13:07] pingdynasty commented on #71
check we have enough stand-offs and machine screws for full assembly

[2015-09-11 19:02] pingdynasty commented on #72
todo:
- download videos and flyers onto tablet and laptop
- test vlc playlist
- clean up and brand tablet and laptop
- finish flyers - done
- sort through t-shirts and fold - done
- pack t-shirts
- Modular Ping Pong
- buy Sennheiser headphones hd201 - done
- prepare order form
- prepare template email receipt / invoice
- get 5 euro notes
- prepare discount notice

[code]
- print trade pricelists

[2015-09-13 18:34] pingdynasty commented on #72
Hans van Dorssen hans@incubate.org

Well i had to reshape the tables a bit due to space inside the location.
To fit in enough stands
so sizes now are all still 1m wide
Length.

8 tables length 1.80x2
2 tables trapezium length 1m to 2m
2 tables trapezium length 2m to 2m
6 tables rhombus 1.50 x 1.50
4 tables length 1.50 x 2m
But connected to each other to make shifting space possible.

it's like the

[2015-09-13 19:00] pingdynasty opened #74 "Build Triggy boards"
Assemble the remaining 9x Triggy Rev01, but don't solder in banana jacks until we have a panel (not sure the first one is very straight).
We have a stencil.

[2015-09-13 20:46] pingdynasty opened #75 "Assemble and test OWL Modular for Tilburg"
Need at least 4 more to bring: assembled, programmed, tested and packed into boxes.

[2015-09-14 17:32] padski commented on #66
10 done bar headers for photon

[2015-09-22 12:13] pingdynasty opened #76 "Biscuit schematic from reference design"
Create an Eagle schematic for the Biscuit smart socket based on the CRD5490 Reference Design.
http://www.cirrus.com/en/support/software/cs548x-9x.html

[2015-09-22 12:15] pingdynasty opened #77 "Add relay to biscuit design"
Update Biscuit design with relay to switch socket on/off.

[2015-09-22 12:16] pingdynasty commented on #76
Suggested CT is in the hardware proposal:
https://docs.google.com/spreadsheets/d/11r7iwuOsfJAZ1bjUkrsOAmda8crAknt1fsuqClWv4jk/edit#gid=0

[2015-10-05 12:08] pingdynasty opened #78 "Pack and ship to Clockface"
2x Chronos
4x Stoicheia
2x Logoi
3x Klasmata

Clockface Modular
#803 Ritz Palacio

1-8-4
Hatagaya
Shibuya-ku
Tokyo 151-0072
Japan

todo: pack, get quote from DHL, update invoice, get payment, ship.

[2015-10-05 12:09] pingdynasty opened #79 "Assemble and test OWL Modular"
a dozen or so.

[2015-10-05 13:52] padski commented on #78
Parcel dimensions: 30 x 31 x 35cm
Weight: estimate 2kg + tshirts

[2015-10-05 15:13] padski commented on #75
Done

[2015-10-05 15:13] #75 closed, assigned to nobody

[2015-10-05 15:14] #72 closed, assigned to nobody

[2015-10-05 15:14] padski commented on #37
Done

[2015-10-05 15:14] #37 closed, assigned to padski

[2015-10-05 15:15] padski commented on #70
Done

[2015-10-05 15:15] #70 closed, assigned to padski

[2015-10-05 18:08] padski commented on #79
Done, 13.

[2015-10-05 18:08] #79 closed, assigned to padski

[2015-10-05 18:10] padski commented on #73
5 done, awaiting panels...

[2015-10-07 13:09] padski commented on #76
Done for prototype with Vigortronic supply. Saved copy with alt smps supply...

[2015-10-07 13:10] padski commented on #46
Remaining 9 done

[2015-10-07 13:10] #46 closed, assigned to padski

[2015-10-07 13:41] padski commented on #77
Done

[2015-10-09 17:05] ghost opened #80 "Build Rebel Base subrack for Ali"

[2015-10-12 14:58] ghost opened #81 "Biscuit design: add PIR sensor"
Part IRA-E700ST0.
Copy circuit from datasheet: Typical Application Circuit (Analog out Type), page 10.
Connect A_Out to Photon Analog in (any pin A0 to A6).

Datasheet:
http://www.murata.com/~/media/webrenewal/support/library/catalog/products/sensor/infrared/s21e.ashx

[2015-10-12 15:50] ghost opened #82 "Prepare order for Thonk"
25 Logoi
25 Klasmata
50 Stoicheia

panel, pcb, mcu

@padski have we got enough panels?

[2015-10-13 15:31] padski commented on #82
We have:
Logoi:
PCB - 4 x Rev05, 24 x Rev04, 100ish Rev03
Panel - 18

Klasmata:
PCB - 5 x Rev04, 31 x Rev03
Panel - ~70

Stoicheia:
PCB - 31 x Rev06, ~70 x Rev05
Panel - ~90

[2015-10-14 11:39] ghost commented on #43
Todo: assemble next 3 octaves

[2015-10-14 12:59] pingdynasty commented on #77
Replace with a relay which is not end of line.

[2015-10-15 13:35] pingdynasty commented on #78
done

[2015-10-15 13:35] #78 closed, assigned to padski

[2015-10-15 14:47] padski commented on #81
done

[2015-10-15 14:47] #81 closed, assigned to padski

[2015-10-15 14:47] padski commented on #77
done

[2015-10-15 14:47] #77 closed, assigned to padski

[2015-10-29 14:35] pingdynasty opened #83 "PSU for Tapco mixer"
Need a replacement PSU for the small Tapco MIX50 mixer.

Perhaps this one:
http://www.rapidonline.com/audio-visual/power-supply-psu3-35-5403/

will require replacement 3-pin plug (the Behringer mixers have female sockets, see
https://media.music-group.com/media/PLM/data/images/products/P0300/1800Wx1800H/UB1002FX_P0300_Rear_L.png)

or replacement socket.

todo:
- find out if psu is compatible
- fin

[2015-11-10 18:34] #55 closed, assigned to nobody

[2015-11-10 18:34] #56 closed, assigned to nobody

[2015-11-10 18:34] #57 closed, assigned to nobody

[2015-11-10 18:34] #58 closed, assigned to nobody

[2015-11-10 18:34] #60 closed, assigned to nobody

[2015-11-10 18:34] #61 closed, assigned to nobody

[2015-11-10 18:34] #64 closed, assigned to nobody

[2015-11-10 18:35] pingdynasty commented on #43
@padski are we missing parts? The bottom three octaves are not connected to control boards.

[2015-11-10 19:05] padski commented on #43
Yes we need nice squidgy double-sided sticky things to replace the second-hand offcuts

[2015-11-10 19:52] ghost commented on #43
but what about the control boards?

On 10/11/15 19:05, padski wrote:

[2015-11-10 19:53] pingdynasty commented on #43
sticky stuff: 3M 4658F, from Viking Tapes

[2015-11-11 15:45] padski commented on #43
Very expensive are you sure? We only need a little.. can buy but will need to be a bit richer..:)

[2015-11-12 12:48] padski commented on #83
Yes psu looks compatible, and found replacement socket to suit.
Both in Rebel shopping list

[2015-11-23 10:56] pingdynasty commented on #82
Thonk order update:
100x Stoicheia
50x Logoi
50x Klasmata

[2015-11-23 12:59] pingdynasty opened #84 "Ship mcu's to George Meakin"
1x each of Stoicheia, Klasmata and Logoi MCU

plus a couple of OWL stickers and a product leaflet

ship to:
George Meakin
The Maples
Sweden Lane
Little Beckford
Tewkesbury
Gloucestershire
GL20 7AQ

[2015-11-23 18:05] padski commented on #84
Ready to post

[2015-11-23 19:07] padski commented on #66
6 now remain to be done, Photons required....

[2015-11-24 11:57] pingdynasty commented on #82
Plus:
5 x Stoicheia chips
3 x Logoi chips
3 x Klasmata chips

[2015-11-24 14:14] #52 closed, assigned to pingdynasty

[2015-11-24 14:14] #66 closed, assigned to padski

[2015-11-24 14:14] #69 closed, assigned to nobody

[2015-11-24 14:26] pingdynasty opened #85 "Ship to Garso"
1x OWL Modular
1x Logoi pcb/mcu/panel
1x Klasmata pcb/mcu/panel

plus product leaflet and a couple of stickers

ship tracked and signed for to
CJSC Garso Architektūra
Vingrių 6
Vilnius
Lithuania

[2015-11-24 16:13] pingdynasty commented on #82
Klasmata panels: apprx 12 remaining

[2015-11-25 18:21] padski commented on #84
Done

[2015-11-25 18:21] #84 closed, assigned to padski

[2015-12-21 11:29] pingdynasty commented on #83
done

[2015-12-21 11:29] #83 closed, assigned to padski

[2015-12-21 11:29] pingdynasty commented on #85
done

[2015-12-21 11:29] #85 closed, assigned to padski

[2015-12-21 11:31] pingdynasty commented on #82
@padski todo: flash mcu's:
105 x Stoicheia
55 x Klasmata
55 x Logoi

[2015-12-21 17:58] pingdynasty opened #86 "Build Phoreo prototype"
- assemble PCB
- laser cut panel 2mm acrylic

BOM:
https://docs.google.com/spreadsheets/d/1xW40-pMt1hHacfz34GVl3FHUdc5_MHbuaYD819_xjgw/edit#gid=0

[2015-12-31 00:04] padski commented on #82
Done and boxed up

[2015-12-31 11:42] #82 closed, assigned to padski

[2015-12-31 12:28] pingdynasty commented on #86
Fix board issues:
- swap op-amp pins  2/3, 5/6, 9/10
- wire top left jack pin to middle left jack normal
- wire middle left jack pin to bottom left jack normal
- add two LEDs, anode to +5v, cathode via 1k resistors to AtMega pins 12 and 13
  LED1 left side to pin 12, LED2 right side to pin 13

[2016-01-21 14:12] pingdynasty opened #87 "Prepare for SuperBooth"
https://www.superbooth.com/en/my-account.html

todo:
- confirm booking
- small banner max 1m x 0.50m
- organise workshops?
- organise gig / event?

[2016-01-21 14:48] pingdynasty commented on #87
https://www.google.co.uk/maps/place/Nalepastra%C3%9Fe+18,+12459+Berlin,+Germany/data=!4m2!3m1!1s0x47a84f2e154b6355:0x7393f140de7e6e28?sa=X&ved=0ahUKEwiPt6L1kLvKAhUBthoKHZsCDrUQ8gEIHjAA

[2016-02-03 14:37] pingdynasty opened #88 "Make JTAG to SWD adaptor"
Make a small stripboard adaptor with 2x10 pin (boxed) male header for JTAG and 1x6 pin male header for SWD.

Connect pins:

[code]

Add a jumper that optionally connects JTAG pin 19 VCC to JTAG pins 1-2 VAPP.

SWD pinout:

[code]

JTAG pinout:
http://www.st.com/st-web-ui/static/active/en/resource/technical/document/user_manual/DM00026748.pdf

[2016-02-04 14:26] pingdynasty commented on #88
Add a small pushbutton to short NRST to GND.

[2016-02-04 18:22] padski commented on #88
Done

[2016-02-04 18:22] #88 closed, assigned to padski

[2016-02-04 18:23] #5 closed, assigned to nobody

[2016-02-09 14:16] #76 closed, assigned to padski

[2016-02-09 14:20] padski commented on #73
1 assembled, 4 stored...

[2016-02-09 14:20] #73 closed, assigned to padski

[2016-02-09 16:04] pingdynasty opened #89 "Finish Phoreo firmware"

[2016-02-09 16:05] pingdynasty opened #90 "Plan Phoreo launch event"
Possible venues:
- Music Hackspace
- KRM Audio
- Red Dog
- London Modular
- Postmodular

[2016-02-09 16:09] pingdynasty opened #91 "Create Phoreo demo video"
Can be shot in our studio.

[2016-02-09 16:12] pingdynasty opened #92 "Write Phoreo instructions"

[2016-02-09 16:12] pingdynasty opened #93 "Publish Phoreo details on website"
Need: product photos.

[2016-02-10 10:18] pingdynasty opened #94 "Find out current Innovate UK grants"

[2016-02-17 09:20] pingdynasty opened #95 "Pack for Berlin c-base workshops"
Things to pack:
- soldering iron/s
- wire cutters
- desoldering pump
- solder wire
- solder wick
- build instructions (10 each)
- boards and panels (10 each)
- components incl jacks, switches, pots, knobs, screws, washers, cables
- programmers
- test rack
- flyers

Plus:
anything to bring to Schneiders
- flyers

Things to do:
- email participants
- tweet
- check in to flight

[2016-02-17 10:52] pingdynasty commented on #95
- laptop with source and hex files

[2016-02-17 15:19] pingdynasty commented on #95
- pre-programmed processors (10 each)

[2016-02-17 16:02] EdMux commented on #87
People to meet:
Hieber Lindberg - Stefan will be attending. I've already spoken to Martin who said he'd forward my e-mail with price list to Stefan. You can use this as a starting point of conversation.

[2016-02-18 16:34] pingdynasty opened #96 "Meeting schedule for Superbooth"
Find out what booth / table.
Create meeting and demo schedule.

Book in:
- Christoph Selig, Just Music

[2016-02-18 18:01] EdMux opened #97 "Promotional idea - Artist Demo Rack video diary"
- We give a demo rack to an artists that uses modular and ask them to post video diaries on his/her social media.  Perhaps minimum once a week over a month.

[2016-02-29 12:41] pingdynasty commented on #96
- Edd Butterworth, sonic state
- Erwin, Raw Voltage

[2016-08-19 12:44] pingdynasty opened #98 "50x Phoreo kits for Thonk"
need 50x:
- programmed MCU
- pcb
- panel

More PCBs and panels have been ordered. MCUs are available.

[2016-10-14 11:37] padski commented on #98
Packed and ready for Martin to post